// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #EEEAE0; // #17233b; //#1976D2;
$secondary : #13294B; // #4f628b; //#26A69A;
$accent    : #E7C6AC; // #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$NFDI_white : #FFFFFF;
$NFDI_light_beige : #EEEAE0;
$NFDI_medium_beige : #CFC5BA;
$NFDI_dark_blue : #13294B;
$NFDI_bright_blue : #0084FF;

$NFDI_sandton_hell : #EEEAE0;
$NFDI_sandton_02 : #E7C6AC;
$NFDI_sandton_03 : #D89E76;
$NFDI_sandton_04 : #CD8255;
$NFDI_sandton_dunkel : #CFC5BA;
$NFDI_sandton_06 : #BCA089;
